In [114]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 30)

In [115]:
# Load the AIT log data set v2

path_russelmitchell = "../AIT_LD-v2/russellmitchell"
df_auth = pd.read_csv(path_russelmitchell + "/gather/intranet_server/logs/auth.log", header=None)
df_auth.columns = ['date_time', 'log_provider', 'message']

# Display the first few rows of the data set
df_auth.head(2)

# Display the entries corresponding to attack (rows 145-152)
print(df_auth.iloc[144:153])

           date_time      log_provider                        message
144  Jan 24 04:37:40   intranet-server   su[27950]: Successful su ...
145  Jan 24 04:37:40   intranet-server   su[27950]: + /dev/pts/1 w...
146  Jan 24 04:37:40   intranet-server   su[27950]: pam_unix(su:se...
147  Jan 24 04:37:40   intranet-server   systemd-logind[957]: New ...
148  Jan 24 04:37:58   intranet-server   sudo:    jhall : TTY=pts/...
149  Jan 24 04:38:06   intranet-server   sudo:    jhall : TTY=pts/...
150  Jan 24 04:38:06   intranet-server   sudo: pam_unix(sudo:sessi...
151  Jan 24 04:38:06   intranet-server   sudo: pam_unix(sudo:sessi...
152  Jan 24 04:39:01   intranet-server   CRON[27969]: pam_unix(cro...

In [116]:
import json

# load labels from json line by line
auth_labels_data = []

with open(path_russelmitchell + "/labels/intranet_server/logs/auth.log") as file:
    for line in file:
        auth_labels_data.append(json.loads(line))

# Convert to DF and display the first few rows of the data set
df_auth_labels = pd.DataFrame(auth_labels_data)

df_auth_labels

   line                         labels                          rules
0   145  [attacker_change_user, esc...  {'attacker_change_user': [...
1   146  [attacker_change_user, esc...  {'attacker_change_user': [...
2   147  [attacker_change_user, esc...  {'attacker_change_user': [...
3   148  [attacker_change_user, esc...  {'attacker_change_user': [...
4   149  [escalated_command, escala...  {'escalated_command': ['at...
5   150  [escalated_command, escala...  {'escalated_command': ['at...
6   151  [escalated_command, escala...  {'escalated_command': ['at...
7   152  [escalated_command, escala...  {'escalated_command': ['at...

In [122]:
# Add Labels and true_type to dataset (true_type = 1 for attack)
for index, row in df_auth_labels.iterrows():
    line = row['line']
    labels = row['labels']
    df_auth.loc[line-1, 'true_type'] = "1"
    df_auth.loc[line-1, 'labels'] = str(labels)

# Add true_type = 0 for normal
df_auth['true_type'] = df_auth['true_type'].replace("n", "0")

df_auth.iloc[143:153]

,date_time,log_provider,message,true_type,labels
143,Jan 24 04:17:01,intranet-server,CRON[27933]: pam_unix(cro...,0,nan
144,Jan 24 04:37:40,intranet-server,su[27950]: Successful su ...,1,"['attacker_change_user', '..."
145,Jan 24 04:37:40,intranet-server,su[27950]: + /dev/pts/1 w...,1,"['attacker_change_user', '..."
146,Jan 24 04:37:40,intranet-server,su[27950]: pam_unix(su:se...,1,"['attacker_change_user', '..."
147,Jan 24 04:37:40,intranet-server,systemd-logind[957]: New ...,1,"['attacker_change_user', '..."
148,Jan 24 04:37:58,intranet-server,sudo: jhall : TTY=pts/...,1,"['escalated_command', 'esc..."
149,Jan 24 04:38:06,intranet-server,sudo: jhall : TTY=pts/...,1,"['escalated_command', 'esc..."
150,Jan 24 04:38:06,intranet-server,sudo: pam_unix(sudo:sessi...,1,"['escalated_command', 'esc..."
151,Jan 24 04:38:06,intranet-server,sudo: pam_unix(sudo:sessi...,1,"['escalated_command', 'esc..."
152,Jan 24 04:39:01,intranet-server,CRON[27969]: pam_unix(cro...,0,nan